.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav{
  display: flex;
  justify-content: space-evenly;
}

.list{
  display: flex;
  justify-content: center;
  /* border:1px solid red; */
}

.link-Nav{
  text-decoration: none;
  color:black
}

ul{
  list-style: none;
  justify-content:center ;
  width: 25%;
}

li{
  padding:15px;
  text-align: left;
}

.task-item:hover{
  background-color: rgba(128, 128, 128, 0.322);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
